.content{
    padding-top: 150px;
    padding-bottom: 150px;
    background: url(/foodweb/static/images/web/图3.png) no-repeat;
    background-size: cover;
    background-position: center top;
}
.content .right {
    background: white;
    border-radius: 10px;
}
.content .right .form-group{
    margin-top: 35px;
}